@charset "UTF-8";

/* Base */
/*------------------------------------*\
    RESET STYLES
\*------------------------------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.ttf");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 100 700 900;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
}
/* ===========================
   Base
   =========================== */
html {
  background-color: #DCE5EA;
  height: 100%;
  margin-bottom: 1px;
}

body {
  background-color: #DCE5EA;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #CF2C2C;
  text-decoration: none;
}
a:hover {
  color: #a52323;
}

body {
  height: 100%;
  font: 100% "Mulish";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body.centred-layout {
  background-image: none;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

body.registration {
  background-image: none;
  background-color: white !important;
}

body.registration #main {
  background-color: white;
}

/*This solves a z-index IE7 bug that makes the drop down menus appear behind the call to action buttons:*/
header {
  position: relative;
  z-index: 100;
}

ul {
  padding-left: 0;
}

ul ul,
ul ol {
  margin-top: 0;
}

li {
  list-style: none;
}

ol {
  margin-bottom: 1em;
}

ol.roman {
  list-style-type: lower-roman;
}

ol.alpha {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 1.5em;
}

dt {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
}

img.framed {
  border: 4px solid #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}

img.float-right {
  float: right;
  margin: 0 0 20px 20px;
}

/* Lists */
ul li p {
  font-size: inherit;
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Fonts */
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url(".../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url(".../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url(".../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url(".../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url(".../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url(".../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


/* ==|====================
   Layout/Main
   ======================= */
.space-rows .row {
  margin-bottom: 10px;
}

/* ------------------------------------------------------------ *\
|* Colours
\* ------------------------------------------------------------ */
/**
 * Colour palette -- private use for easier identification of colours
 **/
/* Greens */
/* Yellows */
/* Oranges */
/* Reds */
/* Grays */
/* Whites */
/* Blacks */
/* Chart levels */
/* Discussions timeline colours -- these are fixed elements that should not be theme-based */
/* Privacy flags */
/* Symptom severities */
/* for IE10 and above but not Edge */
/* for iOS devices */
/* General */
/* Typography */
/* Lists */
/* Buttons */
/* NHS UK */
.checkbox-new {
  margin-top: 8px;
  display: inline-flex;
  flex-wrap: nowrap;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-new input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: solid 2px #3C7996;
    border-radius: 4px;
  }

  .checkbox-new input[type='checkbox']:disabled {
    background-color: #E8E8E8;
    border: none;
  }
  .checkbox-new input[type='checkbox']:hover {
    border-color: #00576D;
  }
}
.checkbox-new input[type='checkbox'] {
  opacity: 1;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  margin: 0;
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  /* Remove the focus indicator on mouse-focus
     for browsers that do support :focus-visible */
  /* Focus style for keyboard-focus on browsers
   that do support :focus-visible */
}

.checkbox-new input[type='checkbox']:hover {
  border-color: #00576D;
}
.checkbox-new input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(60, 121, 150, 0.7);
}
.checkbox-new input[type='checkbox']:focus:not(:focus-visible) {
  box-shadow: none;
}
.checkbox-new input[type='checkbox']:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(60, 121, 150, 0.7);
}
.checkbox-new input[type='checkbox']#passwordCheck {
  position: absolute;
}
.checkbox-new label {
  padding-left: 30px;
  padding-top: 2px;
  display: flex;
}
.checkbox-new label div {
  margin: 0 8px 0 10px;
}

/* ==========================================================================
   typography
   ========================================================================== */
html,
body {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 24px;
}

h1, h2, h3, h4 {
  color: #000;
  display: block;
  font-family: Mulish;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
}
h5, h6 {
  color: #000;
  display: block;
  font-family: Mulish;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: normal;
}
h1 {
  font-family: Mulish;
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
}

h1#logo {
  float: left;
  height: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h1#logo a {
  height: 59px;
  text-indent: -3000px;
  text-decoration: none;
}

h1#logo img {
  float: left;
  display: inline;
  width: auto;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 8px;
}

h1#logo img#pLogo {
  width: 87px;
}

h2 {
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.33;
}

h2 strong {
  font-size: 18px;
  color: #818181;
  display: block;
  font-weight: 400;
}

h3 {
  clear: both;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 0;
}

td h3 {
  margin: 0;
  font-size: 1.076923em;
  line-height: 18px;
}

h4 {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.44;
}

h4.regular {
  font-weight: normal;
}

hr {
  border-top: 1px solid #9ABBC5;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

label {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.label-sm {
  font-size: 13px;
}

p {
  color: #111;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

p.smaller {
  font-size: 13px;
}

.bold {
  font-weight: 800;
}

.font-bigger {
  font-size: 18px;
}

.monospace-report p {
  font-family: "Courier New", Courier, monospace;
}

.monospace-report {
  padding: 20px;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #000;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}
.monospace-report#report-container {
  padding: 0 15px;
}

pre.error-dump {
  font-size: 10px;
}

/* @end */
/* @group [1.2] HEADERS */
/* @end */
/* @group [1.3] GROUPING CONTENT */
blockquote, q {
  quotes: none;
}

blockquote {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 5px;
  padding: .75em;
}

blockquote p, q p {
  margin-top: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 0.875em;
  /* 14px */
  line-height: 1.1429;
  /* 16px */
}

abbr {
  letter-spacing: 1px;
}

abbr[title]:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  cursor: help;
}

var {
  font-style: italic;
}

sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

.input-error-msg li > span {
  color: #AD2424;
  font-weight: bold;
}

.required-star {
  font-weight: bold;
  color: #CF2C2C;
}

.input-error-msg li > span {
  color: #AD2424;
  font-weight: bold;
}

.muted {
  color: #707070;
}

.letter-preview {
  border: 1px solid #ddd;
  background: #f4f4f4;
  padding: 50px;
  line-height: 26px;
  font-size: 15px;
}
.letter-preview p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}

.font-weight-black {
  font-weight: 900;
}

/* ==========================================================================
   Login Page
   ========================================================================== */
/* ------------------------------------------------------------ *\
|* Colours
\* ------------------------------------------------------------ */
/**
 * Colour palette -- private use for easier identification of colours
 **/
/* Greens */
/* Yellows */
/* Oranges */
/* Reds */
/* Grays */
/* Whites */
/* Blacks */
/* Chart levels */
/* Discussions timeline colours -- these are fixed elements that should not be theme-based */
/* Privacy flags */
/* Symptom severities */
/**
 * Public semantic variables used by PKB's default theme
 **/
/**
 * Public semantic variables of NHS colors
 **/
/* for IE10 and above but not Edge */
/* for iOS devices */
body.login-page .nhsLoginButtonContainer {
  margin: -10px auto 0 auto;
  font-size: 20px;
  padding: 0 1em;
}
body.login-page .nhsLoginButtonContainer span {
  font-size: 16px;
  display: block;
  height: 1.8em;
  line-height: 1.8em;
  margin: 0 0 5px 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #A9A9A9;
}
body.login-page .nhsLoginButtonContainer .nhsLoginButtonLink {
  background-color: #005eb8;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px #003087;
  height: 36px;
}
body.login-page .nhsLoginButtonContainer .nhsLoginButtonLink svg {
  width: 100%;
  height: 40px;
}

body.login-page #header {
  background-color: white;
  display: block;
  height: 60px;
  width: 100%;
  float: none;
  position: relative;
  text-align: left;
}
body.login-page #outer {
  height: auto;
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  min-height: 100% !important;
}
body.login-page #container {
  text-align: center;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
body.login-page #inner {
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  background-color: white;
  position: relative;
}
body.login-page #inner h1 {
  border-radius: 4px 4px 0 0;
  color: #000;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0px;
  padding-top: 12px;
}
body.login-page #inner form {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
body.login-page #inner p {
  font-size: 15px;
  line-height: 18px;
  padding-top: 5px;
  margin: 0px;
  text-align: left;
  float: left;
}
body.login-page h1#customLogo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 20px;
  float: none;
}
body.login-page h1#logo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 10px;
  float: none;
}
body.login-page h1#logo img {
  height: 40px;
  padding: 0;
}
body.login-page div.account-navigation {
  display: block;
  position: absolute;
  right: 20px;
  top: 17px;
}
body.login-page div.account-navigation li a {
  float: left;
  font-size: 1.23em;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-left: 20px;
  padding-right: 35px;
}
body.login-page div.account-navigation li a .fa {
  margin-left: 10px;
  font-size: 26px;
  vertical-align: bottom;
}
body.login-page div.account-navigation ul {
  margin: 0px;
}
body.login-page div.buttons {
  float: none;
  text-align: right;
  margin: 15px 0 0;
}
body.login-page div.auth-description {
  border-bottom: 1px solid #dcd8db;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 0 30px;
}
body.login-page form input.btn-primary {
  padding-right: 15px;
  font-size: 1em;
  background-color: #C04E0C;
  border: none;
  height: 40px;
}
body.login-page form input.btn-primary:hover {
  background-color: #A94206;
}
body.login-page form input.btn-primary:active {
  background-color: #903B09;
}
body.login-page form#login {
  background: #FFF;
  width: 600px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  float: none;
}
body.login-page form h2 {
  margin: 0 0 30px !important;
  display: block;
  padding: 10px;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body.login-page form a.underline-link {
  float: right;
  text-decoration: none;
}
body.login-page .form-horizontal {
  width: 70%;
}
body.login-page .form-horizontal .control-label {
  height: 20px;
  line-height: 1;
  margin-bottom: 0px;
}
body.login-page .inner-footer {
  background-color: #F5F8F9;
  border-radius: 0 0 4px 4px;
  bottom: 0;
  left: 0;
  padding: 15px 15px;
  text-align: left;
  width: 650px;
  margin-top: 40px;
}
body.login-page .inner-footer select {
  width: 150px;
  background-color: white;
}
body.login-page .inner-footer .logo {
  color: #333333;
  background-position: right center;
  background-repeat: no-repeat;
  float: right;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  padding-right: 35px;
  margin-top: 3px;
}

.centred-logo {
  margin-bottom: 2%;
  margin-top: 3%;
  max-width: 80%;
}

@media only screen and (max-width: 650px) {
  .login-layout .widget-box .widget-main {
    padding: 16px;
  }

  body.centred-layout #inner.login-container {
    width: 98%;
  }

  .login-layout .widget-box {
    padding: 0;
  }

  .login-layout .main-content {
    padding-left: 6px;
    padding-right: 6px;
  }

  .login-box .toolbar > div {
    width: auto;
  }

  .login-container .btn, .login-container .btn-arrow,
  body.centred-layout .inner-footer {
    width: 100%;
  }

  body.centred-layout .inner-footer .logo {
    margin-bottom: 15px;
  }

  h1#logo img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  body.centred-layout div.account-navigation li a {
    display: none;
  }

  body.login-page ul.ticked-list li span {
    width: 100%;
  }

  #auth-btn-cancel {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  body.login-page .form-horizontal {
    width: 95%;
  }
}
.login-sso-restricted {
  padding: 15px 0;
}

#myMeasurements {
  background-color: #FFF;
  border-top: 2px solid #CCDDE2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
@media (max-width: 480px) {
  #myMeasurements {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
#myMeasurements a:hover, #myMeasurements a:focus {
  text-decoration: none;
}
#myMeasurements .list {
  display: none;
  margin-bottom: 0;
}
#myMeasurements.show-vitals .list-GENERAL {
  display: block;
}
#myMeasurements.show-vitals #generalMeasurementsMessage {
  display: block;
}
#myMeasurements.show-exercise .list-FITNESS,
#myMeasurements.show-exercise .list-ROUTINE {
  display: block;
}
#myMeasurements.show-diet .list-NUTRITION {
  display: block;
}
#myMeasurements.show-sleep .list-SLEEP {
  display: block;
}
#myMeasurements #generalMeasurementsMessage {
  display: none;
  padding: 24px 16px;
  border-bottom: 1px solid #CCDDE2;
}

.btn-group-fluid {
  width: 100%;
}

.btn-3 {
  width: 25%;
}

#measurements-container .secondary-amount {
  margin-left: 4px;
}

#measurementHistory .graph-container {
  border-radius: 4px;
  overflow: hidden;
}
#measurementHistory .graph-container:empty {
  display: none;
}
#measurementHistory div.graph-wrapper {
  margin-bottom: 16px;
  float: none;
}
#measurementHistory div.graph-wrapper #graphContainer {
  margin-top: 1em;
  border-radius: 4px;
}
#measurementHistory #time-range-container {
  display: flex;
  align-items: flex-start;
}
#measurementHistory #time-range-container .btn-group-measurements {
  margin-top: 0;
}
#measurementHistory #time-range-container .btn-pagination-prev {
  margin-right: 4px;
  margin-left: 0px;
}
#measurementHistory #time-range-container .btn-pagination-next {
  margin-left: 4px;
}
#measurementHistory #time-range-container > .btn-default[disabled]:hover {
  background-color: inherit;
}
#measurementHistory #time-range-container > .btn-default[disabled]:hover .fa {
  color: #3C7996;
}
#measurementHistory .flexible {
  padding-top: 0;
  padding-bottom: 0;
  flex-grow: 1;
  display: flex;
}
#measurementHistory .flexible .btn.btn-default:nth-child(2), #measurementHistory .flexible .btn-default.btn-arrow:nth-child(2) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#measurementHistory .flexible > .btn.btn-default, #measurementHistory .flexible > .btn-default.btn-arrow {
  flex-grow: 1;
  min-width: 0;
}
#measurementHistory .measurement-overview {
  margin-top: 1em;
}

.measurements-data-load-controls {
  margin-bottom: 16px;
}

.btn-group-measurements.btn-group-lg {
  background-color: #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-group-measurements.btn-group-lg > .btn, .btn-group-measurements.btn-group-lg > .btn-arrow {
  padding: 0px;
  border-radius: 0px;
  height: 54px;
  width: 76px;
  box-shadow: none;
  border-style: none;
  color: #00576D;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-group-measurements.btn-group-lg > .btn:not(:last-child), .btn-group-measurements.btn-group-lg > .btn-arrow:not(:last-child) {
  margin-right: 40px;
}
.btn-group-measurements.btn-group-lg > .btn:hover, .btn-group-measurements.btn-group-lg > .btn-arrow:hover {
  background-color: transparent;
}
.btn-group-measurements.btn-group-lg > .btn i, .btn-group-measurements.btn-group-lg > .btn-arrow i {
  margin-left: 0px;
  margin-right: 8px;
  display: inline-block;
}

.btn-group-measurements.btn-group-lg > .btn.active, .btn-group-measurements.btn-group-lg > .active.btn-arrow {
  box-shadow: none;
  height: 54px;
  color: #2B7D67;
  background-color: #FFF;
  border-bottom: 4px solid #2B7D67 !important;
}

@media (max-width: 570px) {
  .btn-group-measurements.btn-group-lg {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .btn-group-measurements.btn-group-lg > .btn:not(:last-child), .btn-group-measurements.btn-group-lg > .btn-arrow:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 480px) {
  .btn-group-measurements.btn-group-lg {
    background-color: transparent;
    margin-bottom: 16px;
    padding: 0px;
  }
  .btn-group-measurements.btn-group-lg > .btn.active, .btn-group-measurements.btn-group-lg > .active.btn-arrow {
    height: 40px;
  }
}
.no-measurements-text {
  padding: 24px 16px;
  margin-bottom: 0;
}

@media (max-width: 516px) {
  #privacy-pie-selectors {
    flex-wrap: wrap;
  }
  #privacy-pie-selectors .pie-container {
    width: 100%;
    align-items: center;
    margin-bottom: 150px;
  }
  #privacy-pie-selectors .privacy-checkboxes {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    flex-direction: row;
    flex-shrink: 1;
    width: 100%;
  }
  #privacy-pie-selectors .privacy-checkboxes .checkbox-new {
    margin-right: 10px;
    min-width: 185px;
  }
}


/* ==========================================================================
   Settings Page displayed on eg /auth/manageUserProfileForm.action?contextUserId=1615
   ========================================================================== */
#manageProfile_form {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #FFF;
  padding: 10px 24px 0 24px;
  border-radius: 4px;
}
#manageProfile_form .value-input, #manageProfile_form #select-locale, #manageProfile_form .niceRadio {
  margin-top: 6px;
}
#manageProfile_form table {
  margin-left: -20px;
}
#manageProfile_form table th {
  background-color: #FFF;
  height: auto;
}
#manageProfile_form table td {
  border-bottom: 0;
}
#manageProfile_form .add {
  padding-left: 0;
}
#manageProfile_form .password-field {
  margin-bottom: 4px;
}

.logo-row #logo {
  margin: 12px 0;
  max-width: 240px;
}

#gpdata .section-heading {
  border-bottom: none;
}
#gpdata .section-subheading {
  color: black;
}
#gpdata .form-actions-new {
  padding: 32px 32px 32px;
}
#gpdata a.back-link {
  margin-right: auto;
}

/* Shared between patient and pro views */
/* ==========================================================================
   Edit Consent Team
   ========================================================================== */
.share-records-inputs {
  position: relative;
}

#sharing-consent-toggle {
  margin-top: 0;
}
#sharing-consent-toggle .toggle-handle {
  cursor: not-allowed;
  pointer-events: none;
}
#sharing-consent-toggle .btn-default.active:hover {
  background-color: #e6e6e6;
}

.disabled .disable-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(233, 233, 233, 0.75);
  z-index: 99;
}

.checkbox-row {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ==========================================================================
   OLD CRAP TO BE RE FACTORED:
   ========================================================================== */
section.fast_box {
  background: #FFF;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #CBCBCB;
  margin: 0 0 20px 0;
}

section.fast_box ul li {
  display: inline;
  margin-right: 10px;
}

div.header-banner {
  background-position: center center;
  background-size: cover !important;
  position: relative;
  max-width: none;
}
div.header-banner .title-bar {
  background-color: rgba(43, 158, 125, 0.6);
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
div.header-banner .title-bar h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 960px;
  color: white;
  text-shadow: 1px 1px black;
}


/* @end */
div.graph-wrapper {
  position: relative;
  float: left;
}

#skip a, #skip a:hover, #skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

#timings {
  font-size: 0.7em;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #AAAAAA;
  padding: 5px;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}

#timings.timingsWarn {
  background-color: #ff0000;
}

#timingsHidden {
  font-size: 0.5em;
  color: white;
  padding: 5px;
  display: none;
}

.no_entries_msg,
.confirm_msg,
.notification {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #111;
}

.white-box {
  background: #FFF;
  padding: 15px;
  color: #111;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 0px #c8c8c8;
  -moz-box-shadow: 1px 1px 4px 0px #c8c8c8;
  box-shadow: 1px 1px 4px 0px #c8c8c8;
  margin-bottom: 30px;
  margin-top: 10px;
}
.white-box h2 {
  font-weight: 600;
  color: #111;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.white-box h3 {
  font-weight: 300;
  color: #111;
  font-size: 1em;
}

.permissions-inputs input[type="checkbox"] + label.nice-checkmark {
  vertical-align: top;
}

.privacy-label {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 4px 7px;
  background-color: #DCE5EA;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  vertical-align: bottom;
}

.privacy-label span {
  padding-left: 0.2875em;
}

.a11y-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(".../fonts/FrutigerLTW01-55Roman.eot?#iefix");
  src: url(".../fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"), url(".../fonts/FrutigerLTW01-55Roman.woff2?v=675") format("woff2"), url(".../fonts/FrutigerLTW01-55Roman.woff?v=675") format("woff"), url(".../fonts/FrutigerLTW01-55Roman.ttf?v=675") format("truetype"), url(".../fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg");
}
@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url(".../fonts/FrutigerLTW01-65Bold.eot?#iefix");
  src: url(".../fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"), url(".../fonts/FrutigerLTW01-65Bold.woff2?v=675") format("woff2"), url(".../fonts/FrutigerLTW01-65Bold.woff?v=675") format("woff"), url(".../fonts/FrutigerLTW01-65Bold.ttf?v=675") format("truetype"), url(".../fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
}
.nhsapp {
  font-family: "Frutiger W01";
  padding: 0.7em 0;
  text-align: left;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}
.nhsapp.backbutton, .nhsapp.wayfinder {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.nhsapp.wayfinder {
  font-size: 17px;
  height: 80px;
  display: flex;
  background-color: #005eb8;
}
.nhsapp.wayfinder .container {
  display: flex;
  align-items: center;
}
.nhsapp.wayfinder img {
  margin-right: auto;
}
.nhsapp.wayfinder a {
  color: #FFF;
  margin-left: 8px;
}
.nhsapp.wayfinder a:focus {
  color: #212b32;
  background-color: #FFEB3B;
  box-shadow: 0 -2px #FFEB3B, 0 4px #212b32;
  text-decoration: none;
}
.nhsapp.wayfinder a #logout-text-short {
  display: none;
}
@media (max-width: 480px) {
  .nhsapp.wayfinder a #logout-text-long {
    display: none;
  }
  .nhsapp.wayfinder a #logout-text-short {
    display: inline;
  }
}
.nhsapp.banner {
  position: sticky;
  min-height: 35px;
  background-color: #d8dde0;
  color: #212b32;
  font-size: 14px;
  border-bottom: 1px solid #979797;
  padding-bottom: 6px;
  z-index: 999;
}
.nhsapp #link-nhsapp-back {
  display: inline-block;
  padding-left: 16px;
  position: relative;
  text-decoration: underline;
  line-height: 16px;
  color: #005eb8;
}
.nhsapp #link-nhsapp-back svg {
  height: 24px;
  left: -8px;
  position: absolute;
  top: -4px;
  width: 24px;
  fill: #005eb8;
}

.mobile-optimized .nhsapp.banner {
  margin-bottom: -2px;
}

.nhs-menu-background {
  background-color: #f0f4f5;
}

.nhsmenu {
  padding: 0;
  background-color: #f0f4f5;
}
.nhsmenu .container {
  padding: 0;
}
.nhsmenu h1 {
  padding: 8px 0 32px 16px;
  font-size: 32px;
  line-height: 2em;
  height: auto;
  display: block;
}
.nhsmenu li {
  margin: 2px 0;
  border-top: 1px solid #f0f4f5;
  border-bottom: 1px solid #f0f4f5;
  position: relative;
  background-color: #FFFFFF;
}
.nhsmenu li:hover {
  background-color: #003D78;
}
.nhsmenu li a {
  display: flex;
  align-items: center;
  padding: 16px 4px 16px 16px;
  line-height: 1.5;
  color: #005eb8;
  font-weight: 600;
  justify-content: space-between;
}
.nhsmenu li a:hover {
  color: white;
  text-decoration: none;
}
.nhsmenu li a:hover .nhs-menu-description {
  color: inherit;
}
.nhsmenu li a .nhs-menu-element {
  flex: 1 0;
  min-width: 0;
  display: inline-flex;
  flex-direction: column;
}
.nhsmenu li a .nhs-menu-description {
  font-weight: normal;
  color: initial;
  font-size: 16px;
  line-height: 24px;
}
.nhsmenu li a svg {
  width: 34px;
  fill: #aeb7bd;
}

.nhs-navigation-menu {
  margin: 20px -15px 100px -15px;
  font-size: 18px;
  line-height: 24px;
}
.nhs-navigation-menu .nhs-navigation-link:hover, .nhs-navigation-menu li:hover {
  background-color: #FFF;
  color: #7c2855;
}
.nhs-navigation-menu .nhs-navigation-link:hover .nhs-menu-text, .nhs-navigation-menu li:hover .nhs-menu-text {
  text-decoration: underline;
}
.nhs-navigation-menu .nhs-navigation-link {
  border-bottom: 1px solid #aeb7bd;
  padding-left: 22px;
}
.nhs-navigation-menu .nhs-navigation-link .icon {
  margin-right: 6px;
}
.nhs-navigation-menu .nhs-navigation-link svg {
  fill: #636363;
}
.nhs-navigation-menu .nhs-navigation-link .nhs-menu-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nhs-navigation-menu .nhs-navigation-link:focus {
  outline: none;
  text-decoration: none;
}
.nhs-navigation-menu .nhs-navigation-link:focus .nhs-menu-text {
  background-color: #FFEB3B;
  color: #212b32;
  border-bottom: 4px solid #212b32;
  text-decoration: none;
}

.nhs-only, a.btn-secondary.nhs-only {
  display: none;
}

.nhs-england-style .nhs-only, .nhs-england-style a.btn-secondary.nhs-only, .nhs-style .nhs-only, .nhs-style a.btn-secondary.nhs-only {
  display: inline-block;
}
.nhs-england-style .nhs-hide, .nhs-style .nhs-hide {
  display: none !important;
}

.nhs-england-style {
  background-color: #f0f4f5;
  font-family: "Frutiger W01";
}
.nhs-england-style h1, .nhs-england-style h2, .nhs-england-style h3, .nhs-england-style h4, .nhs-england-style h5, .nhs-england-style h6 {
  font-family: "Frutiger W01";
  font-weight: bold;
  color: black;
}
.nhs-england-style h1 {
  font-size: 32px;
  line-height: 40px;
}
.nhs-england-style h1.subject {
  text-align: left;
}
.nhs-england-style h2 {
  font-size: 24px;
}
.nhs-england-style > .infoMessage {
  font-size: 16px;
  margin-top: 2em;
}
.nhs-england-style .section .section-heading {
  margin-bottom: 10px;
}
.nhs-england-style .section .section-heading h2 {
  margin-bottom: 10px;
}
.nhs-england-style .section .section-heading h2.nhs-message-box-heading {
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.nhs-england-style .section .section-heading h2.nhs-important-box-header {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
}
.nhs-england-style textarea:focus, .nhs-england-style .select2-container-multi.select2-container-active, .nhs-england-style localeSelect:focus {
  border: 2px solid #212b32;
  box-shadow: inset 0 0 0 2px;
  outline: 4px solid #FFEB3B !important;
  outline-offset: 0;
  transition: box-shadow 0s;
}
.nhs-england-style .select2-container-multi.select2-container-active .select2-choices {
  border-color: #212b32;
  box-shadow: inset 0 0 0 1px #212b32;
  border-radius: 0;
}
.nhs-england-style .content-toggle {
  font-size: 16px;
  font-weight: 400;
  color: #005eb8;
  text-decoration: underline;
  align-items: center;
  line-height: 24px;
}
.nhs-england-style .content-toggle.close-link {
  margin-bottom: 24px;
}
.nhs-england-style .content-toggle:hover {
  text-decoration: none;
  color: #7c2855;
}
.nhs-england-style .content-toggle:focus {
  background-color: #FFEB3B;
  color: #212b32;
  border-bottom: 4px solid #212b32;
  text-decoration: none;
  padding-bottom: 8px;
}

.nhs-england-style .content-toggle .nhs-minus-icon, .nhs-england-style .content-toggle .nhs-plus-icon {
  margin-right: 6px;
}
.nhs-england-style .privacy-label {
  background-color: transparent;
  font-size: 17px;
  padding: 0;
}
.nhs-england-style .link-with-icon {
  text-decoration: none;
  display: flex;
}
.nhs-england-style .link-with-icon:hover {
  color: #7c2855;
  text-decoration: underline;
}
.nhs-england-style .link-with-icon:hover .image-and-title .item-title {
  color: #7c2855;
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
}
.nhs-england-style .link-with-icon:focus {
  text-decoration: none;
}

.nhs-england-style .link-with-icon:focus .image-and-title {
  background-color: #FFEB3B;
  color: #212b32;
  border-bottom: 4px solid #212b32;
}
.nhs-england-style .link-with-icon:focus .image-and-title .item-title {
  color: #212b32;
}

.nhs-england-style .link-with-icon .image-and-title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 24px;
}
.nhs-england-style .link-with-icon .image-and-title .item-title {
  color: #005eb8;
  font-weight: 600;
}
.nhs-england-style .labelled-content {
  margin-bottom: 24px;
}
.nhs-england-style .labelled-content .control-label {
  font-size: 20px;
  line-height: 28px;
}
.nhs-england-style .nhs-privacy-sub-heading {
  font-size: 18px;
  line-height: 26px;
}
.nhs-england-style a.btn-nhs-primary, .nhs-england-style a.btn-nhs-secondary, .nhs-england-style .btn-nhs-primary, .nhs-england-style .btn-nhs-secondary, .nhs-england-style .btn-primary {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 12px 19px;
  color: #FFF;
  box-shadow: 0px 4px 0px #003317;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 0px;
  min-width: 40px;
  min-height: 40px;
}
.nhs-england-style a.btn-nhs-primary:focus, .nhs-england-style a.btn-nhs-secondary:focus, .nhs-england-style .btn-nhs-primary:focus, .nhs-england-style .btn-nhs-secondary:focus, .nhs-england-style .btn-primary:focus {
  background-color: #FFEB3B;
  color: #212b32;
  border: none;
  box-shadow: 0px 4px 0px #003317;
}
.nhs-england-style a.btn-nhs-primary:hover, .nhs-england-style a.btn-nhs-secondary:hover, .nhs-england-style .btn-nhs-primary:hover, .nhs-england-style .btn-nhs-secondary:hover, .nhs-england-style .btn-primary:hover {
  color: #FFF;
  box-shadow: 0px 4px 0px #003317;
}
.nhs-england-style a.btn-nhs-primary:active, .nhs-england-style a.btn-nhs-secondary:active, .nhs-england-style .btn-nhs-primary:active, .nhs-england-style .btn-nhs-secondary:active, .nhs-england-style .btn-primary:active {
  color: #FFF;
}
.nhs-england-style a.btn-nhs-primary, .nhs-england-style .btn-nhs-primary, .nhs-england-style .btn-primary {
  background-color: #007f3b;
  border-color: #007f3b;
}
.nhs-england-style a.btn-nhs-primary:hover, .nhs-england-style .btn-nhs-primary:hover, .nhs-england-style .btn-primary:hover {
  background-color: #00662F;
}
.nhs-england-style a.btn-nhs-primary:active, .nhs-england-style .btn-nhs-primary:active, .nhs-england-style .btn-primary:active {
  background-color: #003317;
  border-color: #003317;
}
.nhs-england-style a.btn-nhs-primary:disabled, .nhs-england-style .btn-nhs-primary:disabled, .nhs-england-style .btn-primary:disabled {
  background-color: #007f3b;
  border-color: #007f3b;
  opacity: 0.3;
}
.nhs-england-style .form-actions {
  text-align: left;
  border-top: none;
  padding: 0px 0px;
}
.nhs-england-style a.btn-nhs-secondary, .nhs-england-style .btn-nhs-secondary {
  background-color: #425563;
  border-color: #425563;
}
.nhs-england-style a.btn-nhs-secondary:hover, .nhs-england-style .btn-nhs-secondary:hover {
  background-color: #384854;
  color: #FFF;
}
.nhs-england-style a.btn-nhs-secondary:active, .nhs-england-style .btn-nhs-secondary:active {
  background-color: #283138;
  border-color: #283138;
  box-shadow: 0px 4px 0px #283138;
}
.nhs-england-style a.btn-nhs-secondary:disabled, .nhs-england-style .btn-nhs-secondary:disabled {
  background-color: #425563;
  border-color: #425563;
}
.nhs-england-style .nhs-clickable-card:hover .nhs-clickable-card-text {
  color: #7c2855;
}
.nhs-england-style .nhs-clickable-card:focus {
  outline: none;
  text-decoration: none;
  box-shadow: none;
}
.nhs-england-style .nhs-clickable-card:focus .nhs-clickable-card-text {
  background-color: #FFEB3B;
  color: #212b32;
  border-bottom: 4px solid #212b32;
  text-decoration: none;
}
.nhs-england-style .plain-nhs-section {
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0px;
}
.nhs-england-style .plain-nhs-section .section-simple-content {
  padding-top: 0;
}
.nhs-england-style .plain-nhs-section .section-heading {
  padding-bottom: 14px;
}
.nhs-england-style .plain-nhs-section .section-heading, .nhs-england-style .plain-nhs-section .section-simple-content {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  border: none;
}
.nhs-england-style .plain-nhs-section p {
  line-height: 24px;
  margin-bottom: 0;
}
.nhs-england-style .plain-nhs-section p:not(:last-child) {
  margin-bottom: 24px;
}
.nhs-england-style .nhs-heading {
  padding-bottom: 16px;
  padding-left: 0px;
}
@supports (-webkit-touch-callout: none) {
  .nhs-england-style .nhs-heading {
    padding-left: 20px;
    padding-right: 30px;
  }
}
.nhs-england-style .nhs-heading .section-heading {
  padding-top: 10px;
}
.nhs-england-style .nhs-heading .section-heading h1 {
  margin-bottom: 2px;
}
.nhs-england-style .nhs-subsection .section-heading {
  padding-bottom: 0;
}
.nhs-england-style .nhs-subsection .section-heading h2 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}
.nhs-england-style .nhs-btn-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 64px;
  margin-top: 10px;
  background-color: transparent;
}
.nhs-england-style .nhs-btn-row .btn-nhs-primary, .nhs-england-style .nhs-btn-row .btn-nhs-secondary {
  margin-left: 0;
}
.nhs-england-style .nhs-error-box {
  border: 3px #d5281b solid;
  padding: 24px 16px;
}
.nhs-england-style .nhs-important-box {
  background-color: #FFFBCE;
  border-radius: 0;
  margin-top: 8px;
}
.nhs-england-style .nhs-important-box .section-heading {
  background-color: #FFEB3B;
  padding: 8px 25px;
  display: flex;
  border: none;
  align-self: flex-start;
  margin-top: -8px;
}
.nhs-england-style .nhs-important-box .section-heading h3 {
  margin-top: 0;
}
.nhs-england-style .nhs-important-box .section-simple-content {
  padding-top: 20px;
}
.nhs-england-style .nhs-important-box .section-simple-content p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.nhs-england-style .nhs-important-box .section-simple-content p:last-child {
  margin-bottom: 0;
}
.nhs-england-style .nhs-link, .nhs-england-style .nhs-important-box .section-simple-content a, .nhs-england-style .nhs-info-notification .info-text a {
  text-decoration: underline;
  font-size: 16px;
  color: #005eb8;
}
.nhs-england-style .nhs-link:hover, .nhs-england-style .nhs-important-box .section-simple-content a:hover, .nhs-england-style .nhs-info-notification .info-text a:hover {
  text-decoration: none;
  color: #7c2855;
}
.nhs-england-style .nhs-link:focus, .nhs-england-style .nhs-important-box .section-simple-content a:focus, .nhs-england-style .nhs-info-notification .info-text a:focus {
  color: #212b32;
  background-color: #FFEB3B;
  box-shadow: 0 -2px #FFEB3B, 0 4px #212b32;
  text-decoration: none;
}
.nhs-england-style .privacy-nhs-position {
  margin: 15px 0px;
  font-size: 16px;
  line-height: 24px;
}
.nhs-england-style .section.message-box {
  margin-bottom: 24px;
}
.nhs-england-style .section.message-box .section-heading {
  padding: 8px 14px;
  background-color: #005eb8;
  border: none;
  margin: 0;
}
.nhs-england-style .section.message-box .section-heading h2 {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  margin: 0;
}
.nhs-england-style .section.message-box .upside-down-triangle {
  width: 24px;
  margin-top: -1px;
  margin-left: 24px;
}
.nhs-england-style .section.message-box .bullet-points {
  padding-top: 2px;
  padding-left: 34px;
}
.nhs-england-style .nhs-green-box {
  background-color: #43968E;
  border-radius: 0;
}
.nhs-england-style .nhs-green-box.section .section-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.nhs-england-style .nhs-green-box.section .section-heading h1 {
  font-size: 20px;
  line-height: 28px;
}
.nhs-england-style .nhs-checkbox {
  margin: 0;
}
.nhs-england-style .nhs-checkbox input[type='checkbox'] {
  border-radius: 0;
  background-color: #FFF;
  border-color: #212B32;
  height: 28px;
  width: 28px;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .nhs-england-style .nhs-checkbox input[type='checkbox']:checked {
    border-color: #212B32;
  }
}
.nhs-england-style .nhs-checkbox input[type='checkbox']:focus, .nhs-england-style .nhs-checkbox input[type='checkbox']:focus:checked {
  box-shadow: 0 0 0 4px #FFEB3B;
  border: 4px solid #212b32;
}
.nhs-england-style .nhs-checkbox label {
  padding-left: 42px;
  padding-top: 0;
  font-size: 16px;
  line-height: 24px;
}
.nhs-england-style .niceRadio.updated input {
  border-color: #212B32;
  width: 28px;
  height: 28px;
}
.nhs-england-style .niceRadio.updated input:hover {
  box-shadow: 0px 0px 0px 4px #FFEB3B;
}
.nhs-england-style .niceRadio.updated input:checked, .nhs-england-style .niceRadio.updated input .checked {
  border-color: #212B32;
  background-color: #212B32;
  box-shadow: inset 0 0 0 5px #fff;
}
.nhs-england-style .niceRadio.updated input:focus, .nhs-england-style .niceRadio.updated input:focus:checked {
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 4px #FFEB3B;
}
.nhs-england-style .niceRadio.updated .badge-text {
  font-size: 16px;
  line-height: 24px;
  color: #212B32;
  font-weight: 400;
}
.nhs-england-style .nhs-privacy-positioning {
  margin: 20px 0px 20px 0px;
}
.nhs-england-style .second-row-nhs {
  margin-top: -20px;
}
.nhs-england-style .nhs-info-notification {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 30px;
  display: flex;
}

.nhs-england-style .nhs-info-notification .info-text {
  margin-top: 2px;
}
.nhs-england-style .nhs-privacy-heading {
  margin-top: 30px;
}
.nhs-england-style#nhs-web-app-logout #container {
  margin-top: 24px;
}
.nhs-england-style#nhs-web-app-logout h1 {
  display: initial;
}
.nhs-england-style#nhs-web-app-logout .section {
  margin-top: 24px;
}
.nhs-england-style#nhs-web-app-logout .section h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.red_font {
  color: #CF2C2C !important;
}
.copy-button {
  border: none;
  background: none;
}

.error-table, th {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.error-table td {
  /*border: 1px black solid;*/
  border: none;
  padding: 4px;
  text-align: left;
}
.error-table td.raligned {
  text-align: right;
}
.error-table td.lalign{
  text-align: left;
}
.error-table td.center{
  text-align: center;
}

.error-textbox {
  height: 100%;
  font: 100% "Mulish";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border:solid 1px #ccc;
  width:  300px;
  height: 110px;
  resize: none;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
/*
.text-footer {
  font-size: 14px;
  color: black;
  text-align: left;
  line-height: 24px;
  font-weight: 800;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0px;
  scroll-padding: 0px;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  vertical-align: middle;
}
*/
.system-status {
  font: 100% "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #00576D;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.copy-to-clip {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #00576D;
}

.hyperlink {
  font-size: 14px;
  font-weight: 700;
  color: #00576D;
  text-decoration: underline;
  text-underline: #00576D;
}
