.red-border-rectangle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    align-self: center;
    background: #F5F5F5;
    border-radius: 0px 0px 4px 4px;
    border-top: 3px solid #D5281B;
    border-left: 3px solid #D5281B;
    border-right: 3px solid #D5281B;
    border-bottom: 3px solid #D5281B;
}

.box-container {
    align: left;
    align-self: center;
    padding: 30px;
}

.box-container-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.body-text-container {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 20px;
}

.body {
    background-color: #F5F5F5;
    margin: 0px 0px 0px 0px;
}

.text-body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #212B32;
    text-align: left;
}

.text-heading {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 20px;
}

.text-footer-status {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-size: 19px;
    color: #005EB8;
}

.bottom-row-div {
    float: left;
    padding-top: 10px;
}

.banner {
    width: 100%;
    display: flex;
    background-color: #D8DDE0;
    box-shadow: inset 0px -1px 0px #979797;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    justify-content: space-around;
}

.banner-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #212B32;
}